<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletDestino</servlet-name>
        <servlet-class>Filter.ServletDestino</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Intermediario</servlet-name>
        <servlet-class>Filter.Intermediario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDestino</servlet-name>
        <url-pattern>/ServletDestino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Intermediario</servlet-name>
        <url-pattern>/Intermediario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
